.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* tablet version*/
@media screen and (max-width: 999px) {

  .container {
    font-size: 12px;
  }
  h1 {
    font-size: 25px;
    margin-top: 0;
    padding-top: 16px;
  }
  h3 {
    font-size: 15px;
    margin: 0;
  }
  .row {
    width: 100%;
    margin-top: 0;
  }
  img {
    height: 130px;
  }
  /*steps container*/
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
      width: 100%;
      margin-bottom: 32px;
  }
  #steps.container {
    background-color: #fff;
  }
  /*steps container*/

  /* why container*/
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
      width: 33%;
      float: left;
      margin-top: 16px;
      margin-bottom: 32px;
  }
  #why .first img,
  #why .second img,
  #why .third img {
    max-height: 90px;
  }

  /* /why container*/
}

/* /tablet version*/

/*mobile version*/

@media screen and (max-width: 420px) {
    

    .container {
      font-size: 12px;
    }
    h1 {
      font-size: 25px;
      margin-top: 0;
      padding-top: 16px;
    }
    h3 {
      font-size: 15px;
      margin: 0;
    }
    .row {
      width: 100%;
      margin-top: 0;
    }
    img {
      height: 100px
    }
      
    /* #lezioni */
    #lezioni.container {
      background-color: #F2F2CD; 
    }
    
    #lezioni .row>.left,
    #lezioni .row>.right {
      width: 100%;
      margin-bottom: 32px;
    }
    /* /#lezioni */

    /* steps */
    #steps.container {
      background-color: #fff;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
      width: 100%;
      margin-bottom: 32px;
    }
    /* /steps */
    
    /* why */
    #why.container {
      background-color: #F2F2CD;
    }

    #why .row>.first, 
    #why .row>.second, 
    #why .row>.third {
      width: 100%;
      margin-top: 0;
      margin-bottom: 32px;
    }
    #why img {
      height: 70px;
    }
    
    /* /why */
}